body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF; /* white background */
    color: #303030; /* White text */
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #67f5f5; /* light teal container */
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

select, input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background-color: #e6e9eb; /* Dark teal input */
    color: black; /* White text */
    cursor: pointer;
}

select:focus, input[type="text"]:focus {
    outline: none;
}

option {
    background-color: e6e9eb; /* Dark teal dropdown option */
    color: black; /* White text */
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background-color: #009688; /* Dark teal submit button */
    color: #FFFFFF; /* White text */
    cursor: pointer;
    transition: background-color 0.3s ease;
}
input[type="theme"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background-color: #009688; /* Dark teal submit button */
    color: #FFFFFF; /* White text */
    cursor: pointer;
    transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
    background-color: #00796B; /* Dark teal hover */
}